<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="app-routing.module" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/stanbicRSA/" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <authentication mode="Windows" />
    <identity impersonate="false" />
  </system.web>

</configuration>